body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    overflow: hidden;
}

/* BIOS */
#biosScreen {
    position: fixed;
    inset: 0;
    background: black;
    color: lime;
    font-family: "Courier New";
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* LOADING */
#loadingScreen {
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
    display: none;
}

.loading-bar {
    width: 60%;
    margin: 20px auto;
    height: 25px;
    border: 2px solid white;
}

.loading-bar-fill {
    height: 100%;
    width: 0;
    background: lime;
}

/* ESCRITORIO */
#desktop {
    display: none;
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #4a4a4a, #2b2b2b);
}

/* ICONOS */
.desktop-icon {
    width: 90px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    color: white;
}

.desktop-icon img {
    width: 64px;
}

/* TASKBAR */
#taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #111;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
}

#startButton {
    background: #222;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#taskButtons .taskItem {
    background: #333;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* START MENU */
#startMenu {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 200px;
    background: #222;
    border: 2px solid #444;
    color: white;
    display: none;
}

#startMenu div {
    padding: 10px;
}

#startMenu div:hover {
    background: #444;
}

/* VENTANAS */
.window {
    position: absolute;
    width: 500px;
    height: 350px;
    background: #ddd;
    border: 2px solid #000;
    display: none;
    resize: both;
    overflow: auto;
}

.window-header {
    background: #222;
    color: white;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
}

.close-btn {
    background: red;
    border: none;
    color: white;
    cursor: pointer;
}

/* Notepad */
.notepad-text {
    width: 100%;
    height: calc(100% - 40px);
    font-size: 16px;
}
